// THIS PARTIAL IS FOR DISPLAYING INFORMATION

#level-title, #turn {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin-top: 90px;
    color: rgb(250, 179, 74);
    @include TABLET{
      font-size: 2.3rem;
      margin-top: 80px;
    }
    @include DESKTOP{
     width: 55%;
     margin: 2rem auto;
      font-size: 2.5rem;
    }
  }
  
  #again{
    display: none;
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin: .1rem;
    color: lightskyblue;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    @include TABLET{
      width: 99%;
      margin: 55px auto;
    }
    @include DESKTOP{
      margin: 70px auto;
      width: 98%;
    }
  }

  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  .row{
    margin: 0;
    padding: 0;
    display: flex;
  }

  #rules{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;

    h2{
      text-align: center;
      color: white;
      font-family: 'Press Start 2P', cursive;
    }

    p{
      display: flex;
      color: rgb(250, 179, 74);
      font-family: 'Press Start 2P', cursive;
      text-align: center;
      font-size: .85rem;
      margin-top: .5rem;
      margin-bottom: .5rem;
    }
  }

